
<div id="thegame"></div>
<div class="entrance">
<h1>Let's fucking play</h1>
  <form action="#">
    <input type="text" placeholder="Player Name" class="player_name" name="player_1" / >
    <br/>
    <input type="text" placeholder="Player Name" class="player_name" name="player_2" / >
    <br/>
    <div id="ADD_HERE"></div>
    <button id="go" type="submit" onClick="startGame()" >Ley Go</button>
    <button id="add_player">Add</button>
    <button id="remove_player">Remove</button
    </form>
  </div>

  <div class="number" id="1">
    1
  </div>

  <div class="number" id="2">
    2
  </div>

  <div class="number" id="3">
    3
  </div>

<div id="endgame">
</div>

<script>
 $("#remove_player").on("click", function(e){
  e.preventDefault();
  $("input").last().remove();
 });

 $("#add_player").on("click", function(e)
 {
  e.preventDefault();
  $.get("/append_user", function(response)
  {
    $("#ADD_HERE").replaceWith(response);
  });
  
 });
 </script>
