
<div id="thegame"></div>
<div class="entrance">
<h1>Let's Play :3</h1>
  <form>
    <input type="text" placeholder="Player Name" class="player_name" name="player_1" / >
    <input type="text" placeholder="Key" class="player_key" name = "key1" maxlength="1">
    <br/>
    <input type="text" placeholder="Player Name" class="player_name" name="player_2" / >
    <input type="text" placeholder="Key" class="player_key" name = "key2" maxlength="1">
    <br/>
    <div id="ADD_HERE"></div>
  </form>
    <input id="go" type="submit" onClick="startGame()" value="Ley Go">
    <button id="add_player">Add</button>
    <button id="remove_player">Remove</button
    </form>
  </div>

  <div class="number" id="1">
    1
  </div>

  <div class="number" id="2">
    2
  </div>

  <div class="number" id="3">
    3
  </div>

<div id="endgame">
</div>

<script>
 $("#remove_player").on("click", function(e){
  // e.preventDefault();
  // Don't ping server, save HTML as variable in JS
  // Look at .after as alternative to append
  // Remove form action and change buttons
  // Prevent default on form submission
  $("input").last().remove();
 });

 $("#add_player").on("click", function(e)
 {
  e.preventDefault();
  $.get("/append_user", function(response)
  {
    $("#ADD_HERE").replaceWith(response);
  });

 });
 </script>
