<div class="container">
<h1>Let's fucking play</h1>
  <form action="/play_game" method="post" >
    <input type="text" placeholder="Player 1" name="player_1" / >
    <br/>
    <input type="text" placeholder="Player 2" name="player_2" / >
    <br/>
    <button type="submit"  >Ley Go</button>
    </form>
  </div>
