
<div class="container">
  <table class="racer_table">
    <% @player_counter.times do |i| %>
    <% p = i+1 %>
    <tr id="player<%= p %>_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
  </table>
</div>
    <!-- 
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
            <td></td>
    </tr>
 --><!--   </table>

<div id="results">
</div>

</div> -->

